{% extends 'padre.html' %}

{% load static %}

{% block title %}{{ publicacion.titulo }}{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>{{ publicacion.titulo }}</h1>
                <h3>{{ publicacion.subtitulo }}</h3>
                <p>{{ publicacion.copy }}</p>
                {% if ingredientes %}
                <h4>Ingredientes:</h4>
                <ul>
                    {% for ingrediente in ingredientes %}
                        <li>{{ ingrediente }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p>Fecha de creación: {{ publicacion.fecha_creacion }}</p>
                <p>Autor: {{ publicacion.autor }}</p>


                <!-- Form para agregar comentarios -->
                <form method="post" action="{% url 'agregar_comentario' publicacion.id %}">
                    {% csrf_token %}
                    {{ comentario_form.as_p }}
                    <button type="submit" class="btn btn-primary">Deja un comentario</button>
                </form>
            </div>
            <div class="col-md-4">
                <img src="/ceroapp/media/{{ publicacion.imagen }}" alt="{{ publicacion.titulo }}" style="width: auto; max-width: 100%;" class="img-fluid">
            </div>
        </div>
    </div>
    {% for comentario in publicacion.comentarios.all %}
    <div class="comentario">
        <div class="comentario-header">
            <strong>{{ comentario.autor }}</strong> dijo:
        </div>
        <div class="comentario-body">
            <blockquote>{{ comentario.texto }}</blockquote>
        </div>
        <div class="comentario-footer">
            el {{ comentario.fecha_publicacion }}
        </div>
    </div>
{% empty %}
    <p>Aún no hay comentarios, deja uno.</p>
{% endfor %}


{% endblock %}
