{% extends 'padre.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Mi Perfil</h1>
            <div class="card">
                <div class="card-body">
                    <p><strong>Nombre de usuario:</strong> {{ usuario.username }}</p>
                    <p><strong>Correo electrónico:</strong> {{ usuario.email }}</p>
                    <p><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</p>
                    <a class="btn btn-primary" href="{% url 'Editar_perfil' %}">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
